# random temp files
**/tmp

# R temp files
.RProj.user/
*.Rproj
**/.Rhistory
**/.RData

# mac temp files
**/.DS_Store

# R cache files
**/*_cache/

# auxiliary script files used in writing discussions
**/aux_script*
